<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <add name="cnnString"
         connectionString="Data Source=DESKTOP-L9RBH25;Initial Catalog=dbColegio;Integrated Security=true" providerName="System.Data.SqlClient"
         
  />
  </connectionStrings>
  

</configuration>